$colors: (
	"1": red,
	"2": green,
	"3": blue,
	"4": gold
);
* {
	font-family: sans-serif;
}

header,
footer,
.sitenav,
main {
	background-color: black;
}

.sitenav li {
	@each $i, $c in $colors {
		&:nth-child(#{$i}) {
			&.active,
			&:hover {
				background-color: $c;
				@if $c == yellow {
					a {
						color: black;
					}
				} @else {
					a {
						color: white;
					}
				}
			}
		}
	}
}
@each $i, $c in $colors {
	.c-#{$i} {
		header,
		footer,
		.sitenav {
			background-color: $c;
			@if $c == gold {
				color: black;
				a {
					color: black;
				}
			}
		}
		li:nth-child(#{$i}).active {
			background-color: black;
			a {
				color: white;
			}
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		h7,
		h8,
		h9 {
			color: $c;
		}
		&.team-member {
			color: white;
			background-color: $c;
			h1,
			h2,
			h3,
			h4,
			h5,
			h6,
			h7,
			h8,
			h9 {
				color: white;
			}
		}
	}
}
.page {
	height: 100%;
	display: flex;
	flex-flow: column;
	margin-top: 50px;
}
.page-title {
	margin: 30px 3px;
	margin-bottom: unset;
}


.team-member-main {
	text-align:left;
	padding-left:10px;
}